@import "color";
@import "size";

// $progressColor: rgba(154, 5, 5, 0.253);


body {
    position: relative;
    margin: 0;
    padding: 0;
  }


div.jumbotron-fluid {
    height: 470px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), 
    url('https://www.mesiniaga.com.my/asset/img/mesiniaga-customcodes-parallax-1.jpg');
    background-size: cover;
    /* height: 100%; */
}

i {
    font-size: 25px !important;
    margin: 7px !important;
    /* color: white; */
}

a {
    text-decoration: none;
}


#introduction {
    text-align: center;
    color: white;
}

.nav-link {
    /* background-color:darkgreen; */
    text-align: center;
}


.active {
    background-color: $menuActiveBgColor;
    border-radius: 12%;
}

.page-content {
    text-align: center;
    padding-bottom: 50px;
    /* height: 800px; */
    background-color: white;
    /* background-color: rgb(247, 240, 232); */
}

/*** ABOUT ME ***/
#avt {
    width: 300px;
}

.progress {
    background-color: $progressBgColor;
    height: $progressHeight;
}

.progress-label {
    font-size: 15px;
    padding: 0;
    margin: 0;
    float: right;
    margin-left: 1em;
}

.card-footer-custom {
    // background-color: green !important;
    // position: absolute;
    // bottom: 10px;
    // margin: auto 0;
    // display: table;
    
}


#portfolio {
    background-color: rgb(207, 95, 95);
}

/*** CARD ***/
.card-img-top {
    height: $cardImgHeight;
}

.card-text {
    color: rgb(94, 94, 94);
    text-align: justify;
    text-justify: inter-word;
}